:root {
  --main-color: #ccc;
}

/* 
.news-block {
  background-color: var(--main-color);
}
 */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.small-capitals {
  font-variant: small-caps;
}

.center {
  text-align: center;
  /* text-align: justify; */
}

.box {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  max-width: 1000px;
  height: 400px;
  border: 1px solid #000;
}

.text {
  border: 1px solid #000;
  /* width: 200px; */
}

.text:nth-child(1) {
  /* flex-grow: 1; */
}
.text:nth-child(2) {
  /* flex-grow: 3; */
  /* flex-shrink: 2; */
}

.media {
  font-size: 30px;
}

@media (max-width: 700px) {
  .media {
    color: orange;
    font-size: 24px;
  }
}
