/* :root {
  --main-color: #ccc;
} */

/* 
.news-block {
  background-color: var(--main-color);
}
 */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-image: url(../img/1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: #333;
} */

/* body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7; Устанавливаем прозрачность
  z-index: -1; Размещаем псевдоэлемент за содержимым body
} */

/* h1 {
  position: relative;
  z-index: -1;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: "Montserrat", serif;
  font-size: 15px;
  color: #333;
  margin: 0;
  /* line-height: 1.6px; */
}

/* интро */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url(../img/1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.intro__inner {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;

  text-align: center;
}

.intro__title {
  font-size: 130px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.intro__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 30px auto;

  background-color: #fff;
}

.intro__suptitle {
  font-family: "Great Vibes", serif;
  font-size: 72px;
  /* text-align: center; */
  margin-bottom: 20px;
  color: #fff;
}

/* анимация */
.intro__span {
  /* animation: intro__span 1.5s infinite alternate; */
}

/* контейнер */
.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/* шапка */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 30px;
  z-index: 1000;
}

/* обертка */
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* логотип */
.header__logo {
  font-size: 30px;
  font-weight: 700;
}

.header__link {
  color: #333;
  text-decoration: none;

  /* animation: header__link 1.5s infinite alternate; */
}

/* навигация */
.nav {
  text-transform: uppercase;
  font-size: 14px;
  /* color: #fff; */
}

/* ссылки */
.nav__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  text-decoration: none;
  color: red;

  transition: color 0.1s linear;
}

/* полоска внизу */
.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  /* display: none; */

  background-color: #2b43d8;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  z-index: 1;

  transition: opacity 0.1s linear;
}

.nav__link:hover {
  color: blue;
}

.nav__link:hover::after {
  display: block;
  opacity: 1;
}

/* кнопка */
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;

  border: 2px solid #fff;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

/* слайдер */
.slider {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.slider__item {
  position: relative;
  width: 23%;
  padding: 10px 0;
  border-top: 3px solid #fff;

  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0.7;
}

.slider__item .active {
  opacity: 1;
}

.slider__item.active::before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: red;

  position: absolute;
  top: -3;
  left: 0;
  z-index: 1;
}

.slider__num {
  font-size: 24px;
  font-weight: 700;
}

@keyframes header__link {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00ff,
      0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff,
      0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff, 0 0;
  }
}

@keyframes intro__span {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00ff,
      0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff00ff, 0 0 40px #ff00ff,
      0 0 50px #ff00ff, 0 0 60px #ff00ff, 0 0 70px #ff00ff, 0 0;
  }
}
